.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: green;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}
